@import url('https://fonts.cdnfonts.com/css/google-sans');
@import 'tailwindcss';

:root {
  --warning: #f7c323;
  --primary: #3aa7d6;
  --default: #ffffff;
  --success: #4ad951;
  --error: #d43333;
  --info: #3aa7d6;
}

@theme {
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-default: var(--default);
  --color-error: var(--error);
  --color-info: var(--info);
  --radius-quaternary: 2px;
  --radius-secondary: 7px;
  --radius-primary: 10px;
  --radius-tertiary: 4px;
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.transition {
  @apply transition-colors duration-200 ease-in-out;
}

@font-face {
  font-family: 'Google Sans';
  src: url('https://fonts.gstatic.com/s/googlesans/v65/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPiIUvaYr.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.google-sans {
  font-family: 'Google Sans', sans-serif;
}
