@import url("https://fonts.cdnfonts.com/css/google-sans");
@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-default: var(--color-default);
  --color-error: var(--color-error);
  --color-info: var(--color-info);

  --radius-quaternary: var(--radius-quaternary);
  --radius-secondary: var(--radius-secondary);
  --radius-tertiary: var(--radius-tertiary);
  --radius-primary: var(--radius-primary);
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  .animate-shine {
    animation: shine 2s linear infinite;
  }
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.transition {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
